{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "compat/compat": "error",
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0],
    "no-underscore-dangle": [0]
  },
  "plugins": [
    "babel",
    "react",
    "compat"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
