@value Variables: '../../Variables.css';
@value colorBackgroundSecondary, colorPrimary, colorAccent from Variables;

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150%;
  transform: skewY(16deg);
  background-color: white;
}

.backgroundSecond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  margin-top: 500px;
  transform: skewY(-12deg);
  background: colorBackgroundSecondary;
}

.content {
  margin: 100px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.title {
  padding: 20vh 10vw;
  font-size: 6vh;
}

.colorAccentText {
  color: colorAccent;
}

.colorAccentUnderline {
  border-bottom: 5px solid colorAccent;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.item {
  padding: 30px 5vw;
}

.item h2 {
  font-size: 3vh;
  padding: 2vh 0;
}

.item p {
  font-size: 2.5vh;
  padding: 2vh 0;
  text-align: center;
}


@media screen and (width <= 699px) {
  .grid {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(auto-fit, auto);
    grid-auto-columns: 100vw;
  }
}

@media screen and (width >= 700px) {
  .grid {
    grid-template-columns: repeat(auto-fit, 80vw);
    grid-template-rows: repeat(auto-fit, auto);
    grid-auto-columns: 80vw;
  }
}
