@import '../../Variables.css';

@value Variables: '../../Variables.css';
@value colorText, colorAccent from Variables;

.container {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  margin-top: 64px;
  height: auto;
  z-index: 1000;
  text-align: center;
  background-color: rgb(244, 67, 54);
  color: white;
  line-height: 2;
  vertical-align: middle;
  opacity: 1;
}

.closed {
  opacity: 0;
}

.container:hover {
  cursor: pointer;
}
