@value Variables: '../../Variables.css';
@value colorBackgroundSecondary, colorPrimary, colorAccent from Variables;

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('../../Images/Living.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: brightness(0.2);
}

.heroContent {
  width: 80vw;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.header {
  width: 80vw;
  display: inline-flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.header h1,
.header h2 {
  color: white;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150%;
  margin-top: 100vh;
  transform: skewY(16deg);
  background-color: colorAccent;
}

.backgroundSecond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130%;
  margin-top: 100vh;
  transform: skewY(-12deg);
  background: white;
  box-shadow: 0 -5px 10px 5px rgba(20, 20, 20, 0.4);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 125vh;
  min-width: 400px;
}

.content {
  margin: 0 10vh;
}

.content h1 {
  font-size: 4vmax;
}

.content h2 {
  font-size: 3.5vmax;
}

.content p,
.content li {
  font-size: 2vmax;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content .buttonList {
  display: inline-flex;
  flex-wrap: wrap;
}

.content .button {
  color: colorAccent !important;
  border: solid colorAccent 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 6vh;
  min-width: 100px;
  min-height: 50px;
  text-transform: capitalize;
  font-size: 2vh;
}

.content .button:hover {
  color: white !important;
  background-color: colorAccent !important;
  border: solid colorAccent 2px;
}

@media screen and (width < 800px) {
  .container {
    margin-top: 110vh;
    text-align: center;
  }

  .buttonList {
    text-align: center;
    justify-content: center;
  }
}
