.content {
  position: absolute;
  z-index: 1;
  margin: 0 20%;
  top: 50%;
  transform: translateY(-50%);
}

/* Align Classes */

.left {
  left: 0;
  text-align: left;
}

.center {
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  margin: 0;
}

.right {
  right: 0;
  text-align: right;
}
