@import '../../Variables.css';

@value Variables: '../../Variables.css';
@value colorText, colorAccent from Variables;

.container {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  height: 100vh;
  width: 100vw;
  content: center;
}

.buttonAccent {
  display: none;
  background-color: colorAccent !important;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  left: 20px;
}

.buttonWhite {
  display: none;
  background-color: white !important;
  color: colorAccent !important;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  left: 20px;
}

.drawer {
  overflow-y: scroll;
  background-color: colorAccent !important;
}

.drawerHeader {
  background-color: colorAccent !important;
}

.tab {
  position: fixed;
  bottom: 0;
  width: 5vw;
  z-index: 1000;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px 20px 0 0;
}

.tab i {
  color: colorAccent !important;
}

.tab span {
  background-color: colorAccent !important;
  height: 5px;
}

.drawer h3 {
  color: white;
  padding: 20px;
  font-size: 18px;
}

.radioButtonDataSort {
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.checkBoxDataFilter {
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid {
  padding-top: 5vw;
  margin-bottom: 5vw;
}
