@import '../../Variables.css';
@value Variables: '../../Variables.css';
@value colorText,
colorAccent from Variables;
.container {
  margin: 0;
  margin-top: 64px;
  padding: 0;
  height: 100%;
  width: 100vw;
  content: center;
}

.tab {
  bottom: -8px;
}

.tab i {
  color: white !important;
}

.tab span {
  background-color: white !important;
}

.map {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  margin-top: 20px;
}

.gridItem {
  max-width: 90vw;
  width: 350px;
  margin: 1em;
}

.gridItem h2 {
  font-size: 20px;
}

.gridItem h3 {
  font-size: 20px;
}

.drawerGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  overflow-y: scroll;
}

.drawerGrid .gridItem {
  width: auto;
}

.cornerRibbon {
  width: 200px;
  background: #e43;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  position: absolute;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  background: #e43;
  z-index: 1000;
}

.filterDrawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 64px;
  overflow-y: scroll;
}

.filterDrawer h3 {
  font-size: 16px;
}

.input {
  width: 70%;
  margin: 20px;
}

.scrollIndicator {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  font-size: 50px;
  color: colorAccent;
}

.dayPicker {
  width: 80%;
}