@value Variables: '../../Variables.css';
@value colorAccent from Variables;

.container {
  display: flex;
  flex-flow: column;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('./home.jpg');
  background-position: bottom;
}

.content {
  display: flex;
  margin-top: 64px;
}

.featured {
  text-align: center;
}

.left,
.right {
  width: 100%;
}

.left {
  text-align: right;
}

.heading {
  margin-top: 3vh;
  margin-left: 4vmax;
  font-size: 3vmax;
  color: colorAccent;
}

.list {
  margin-top: 4vh;
  margin-left: 4vmax;
  list-style: none;
  padding: 0;
}

.list li {
  font-size: 1.5vmax;
  line-height: 1.7;
  color: colorAccent;
}

.button {
  margin-top: 4vh;
  margin-left: 4vmax;
  font-size: 2vh;
  min-height: 3vh;
  text-transform: capitalize;
}

.left .heading,
.left .list,
.left .button {
  margin-right: 4vmax;
  margin-left: 0;
}

@media screen and (width < 600px) {
  .container {
    background: white;
  }

  .content {
    flex-flow: column;
    height: 100vh;
  }

  .heading,
  .list,
  .button {
    margin-top: 3vh;
  }

  .button {
    font-size: 20px;
  }

  .heading {
    padding-top: 64px;
  }
}