@value Variables: '../../Variables.css';
@value colorAccent from Variables;

.background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 200vh;
  min-height: 100vw;
  width: 200vh;
  min-width: 100vw;
  margin-top: -100vh;
  border-radius: 200vh;
  background-color: white;
}

.container {
  display: grid;
  position: relative;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  width: 100%;
  height: 100%;
  background-color: colorAccent;
  overflow: hidden;
}

.left,
.right {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.left {
  text-align: right;
}

.heading {
  margin-top: 15vh;
  margin-left: 4vmax;
  font-size: 4vmax;
  color: colorAccent;
}

.list {
  margin-top: 5vh;
  margin-left: 4vmax;
  list-style: none;
  padding: 0;
}

.list li {
  font-size: 2vmax;
  line-height: 1.7;
  color: colorAccent;
}

.button {
  margin-top: 5vh;
  margin-left: 4vmax;
  font-size: 3vh;
  min-height: 5vh;
  text-transform: capitalize;
  background-color: white !important;
  color: colorAccent !important;
}

.left .heading,
.left .list,
.left .button {
  margin-right: 4vmax;
  margin-left: 0;
}

@media screen and (width < 800px) {
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 50vh;
  }

  .heading,
  .list,
  .button {
    margin-top: 3vh;
  }

  .heading {
    padding-top: 64px;
  }
}
