@value Variables: '../../Variables.css';
@value colorBackgroundSecondary, colorPrimary, colorAccent from Variables;

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.3)), url('./living.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: brightness(0.2);
}

.heroContent {
  width: 80vw;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.header {
  width: 80vw;
  display: inline-flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.header h1,
.header h2 {
  color: white;
}

.blueBackground {
  width: 100vw;
  margin-top: -10vh;
  transform: skewY(16deg);
  background-color: colorAccent;
}

.whiteForeground {
  width: 100vw;
  transform: skewY(-26deg);
  background: white;
  box-shadow: 0 0 10px 10px rgba(20, 20, 20, 0.3);
}

.content {
  transform: skewY(11.25deg);
  padding: 20vh 10vw;
}

.text h1 {
  font-size: 4vh;
}

.text h2 {
  font-size: 3.5vh;
}

.text p,
.text li {
  font-size: 2vh;
}

.text ul {
  list-style: none;
  padding: 0;
}

.text .buttonList {
  display: inline-flex;
  flex-wrap: wrap;
}

.text .button {
  color: colorAccent !important;
  border: solid colorAccent 2px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 6vh;
  min-width: 100px;
  min-height: 50px;
  text-transform: capitalize;
  font-size: 2vh;
}

.text .button:hover {
  color: white !important;
  background-color: colorAccent !important;
  border: solid colorAccent 2px;
}

@media screen and (width < 800px) {
  .content {
    text-align: center;
  }

  .buttonList {
    text-align: center;
    justify-content: center;
  }

  .text h1 {
    text-align: center;
    padding-top: 3vh;
  }

  .text p,
  .text li {
    font-size: 3vh;
    line-height: 1.7;
  }
}
