@value Variables: '../../Variables.css';
@value colorAccent from Variables;

.text {
  color: white;
  text-transform: none;
  font-size: 25px;
  margin: 20px;
}

.cursor {
  color: white;
  text-transform: none;
  font-size: 25px;
  margin: 20px;
  margin-left: 10px;
}

.submit {
  background-color: colorAccent !important;
  color: white !important;
  text-transform: none;
  font-size: 25px;
  margin: 20px;
}

.select {
  background-color: white !important;
  color: white;
  font-size: 25px !important;
  line-height: 1.5;
  padding-left: 20px;
  padding-right: 20px;
}

.cursor {
  opacity: 1;
  animation: blink 0.8s step-end infinite !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
