@value colorText, colorAccent from '../../variables.css';

.container {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  margin-top: 64px;
  height: auto;
  z-index: 1000;
  text-align: center;
  background-color: colorAccent;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.3);
  color: white;
  line-height: 2;
  vertical-align: middle;
  opacity: 1;
}

.closed {
  opacity: 0;
}

.container:hover {
  cursor: pointer;
}
