<!DOCTYPE html>
<html>
  <head>
    <!-- Meta-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.atlasproperty.com/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.atlasproperty.com/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.atlasproperty.com/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.atlasproperty.com/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.atlasproperty.com/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.atlasproperty.com/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://www.atlasproperty.com/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://www.atlasproperty.com/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="Atlas Property Group"/>
    <meta name="msapplication-TileColor" content="#5B8ADA" />
    <meta name="msapplication-TileImage" content="https://www.atlasproperty.com/mstile-144x144.png" />

    <!-- Stylesheets-->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="mount"></div>
  </body>
</html>
