<!DOCTYPE html>
<html>
  <head>
    <!-- Meta-->
    <title><%= process.env.APP_NAME %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="/manifest.json">
    <!-- Stylesheets-->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="mount"></div>
  </body>
</html>
