@value Variables: './Variables.css';
@value colorBackground, colorText from Variables;

@font-face {
  font-family: IBMPlexSans;
  src: url('@ibm/type/fonts/sans/web/woff2/IBMPlexSans-Regular-Latin1.woff2');
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

a,
body,
div,
html,
h1,
h2,
h3,
h4,
p {
  font-family: IBMPlexSans, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: colorText;
}

body,
html {
  background-color: colorBackground;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
}
