@value Variables: '../../Variables.css';
@value colorAccent, colorText from Variables;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5b8ada;
}

.content {
  width: 80vw;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
