@value Variables: '../../Variables.css';
@value colorAccent, colorText from Variables;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5b8ada;
}

.content {
  width: 80vw;
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.text,
.cursor {
  font-size: 4vw;
  color: white;
  padding: 2vw;
}

.cursor {
  opacity: 1;
  animation: blink 0.8s step-end infinite !important;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.select div {
  background-color: rgb(1, 87, 155);
  color: white !important;
}
