@value colorAccent, colorTextLight from '../../variables.css';

.container {
  width: 100%;
  display: inline-flex;
  padding-bottom: 5vh;
  padding-top: 80px;
}

.map {
  width: 100%;
  height: 45vh;
  margin-bottom: -10px;
}

.cta {
  position: fixed;
  right: 0;
  top: 40vh;
  text-transform: capitalize;
  font-size: 25px;
  line-height: 1.5;
  text-align: right;
  background-color: #e43 !important;
  height: 100px;
}

.content,
.media {
  max-width: 40%;
  padding-left: 5%;
}

.content {
  border-left: solid 1vw colorAccent;
  margin-left: 5%;
}

.media img {
  object-fit: cover;
  width: 40vmax;
  height: 40vmax;
}

.button {
  text-transform: capitalize;
  background-color: colorAccent !important;
  min-width: 120px !important;
  height: 50px;
}

.buttons {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.accent {
  color: colorAccent;
}

.title {
  font-size: 3vmax;
}

.subTitle {
  font-size: 2.5vmax;
  color: colorTextLight;
}

.fields {
  font-size: 1.8vmax;
  line-height: 2;
}

.description {
  font-size: 1.3vmax;
  font-weight: 800;
  line-height: 2;
}

@media screen and (width <= 800px) {
  .container {
    flex-flow: column;
    align-content: center;
  }

  .media img {
    width: 90%;
    height: 90%;
    padding-top: 20px;
  }

  .content {
    width: auto;
    max-width: none;
    margin: 0;
    padding: 20px;
  }

  .media {
    width: 100%;
    max-width: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .content {
    border: none;
  }

  .description {
    font-size: 1.6vmax;
    padding: 0;
    width: 90%;
  }
}
